* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
} 

body{
    height: 95vh;
    width: 95vw;
    background-color:white;
    margin-top: 10px;
    border: 0;
    padding: 0;
    
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header{
    padding: 0;
    margin: 0;
}

.titulo{
    padding-top: 1px;
    margin-bottom: 0;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: center;    
}

.instrucoes{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.score{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 1;
    border: 0;
    margin-top: 1%;
    
}

.canvas{
    padding-top: 1px;
    margin-top: o;
}
